@font-face {
     font-family: 'quicksan', 'sand-serif';
     src:  url('../assets/fonts/Quicksand-Light.ttf') format('ttf');
     font-weight: 300;
     font-style: normal;
    }
body{
    background-color:gainsboro;
    color: lightcoral;  
}